<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
fieldset{
 	border-radius:3px;
	}
	input{
		border:thin solid #F2F2F2;
		padding: 4px;
		}
</style>

</head>

<body>
<h1>FORM 1</h1>
<fieldset>
<form>

<label for="company">Company</label>
<input name="company" type="text" placeholder="Company" /><br />

<label for="">month</label>
<select name="month">
  <option>january</option>
  <optgroup>January</optgroup> </select><br />
<label for="">Year</label>
<select name="month">
  <option>2010</option>
  <option>2011</option>
  <option>2012</option>
  <optgroup>January</optgroup> </select><br />

<hr />
<label for="">Opening Balance</label>
<input name="openingbalance" type="text" placeholder="Opening Balance" id="openingbalance" /><br />
<label for="">Margarin</label>
<input name="magarin" type="text" placeholder="Opening Balance" id="magarin" /><br />
<label for="">Closing Balance</label>
<input name="closingbalance" type="text" placeholder="Opening Balance" id="closingbalance" /><br />
<label for="">Dosage Rate g/MT(Oils &amp; Fats)</label>
<input name="dosagerateoil" type="text" placeholder="Opening Balance" id="dosagerateoil" /><br />
<label for="">Dosage Rate g/MT(MAGARIN)</label>
<input name="dosageratemagarin" type="text" placeholder="Opening Balance" id="dosageratemagarin" /><br />
 <hr />
 <h2>Theoretical production</h2>
<label for="">Fats</label>
<input name="theoreticalproductionfats" type="text" placeholder="Opening Balance" id="theoreticalproductionfats" /><br />

<label for="">OILS</label>
<input name="theoreticalproductionoils" type="text" placeholder="Opening Balance" id="theoreticalproductionoils" /><br />
<label for="">Magarin</label>
<input name="theoreticalproductionmagarins" type="text" placeholder="Opening Balance" id="theoreticalproductionmagarins" /><br />
 <h2>Actual production</h2>
<label for="">Fats</label>
<input name="actualproductionfats" type="text" placeholder="Opening Balance" id="actualproductionfats" /><br />

<label for="">OILS</label>
<input name="actualproductionoils" type="text" placeholder="Opening Balance" id="actualproductionoils" /><br />
<label for="">Magarin</label>
<input name="actualproductionmagarin" type="text" placeholder="Opening Balance" id="actualproductionmagarin" /><br />

<h2>Production unfortified</h2>
<label for="">Fats</label>
<input name="productionunfortifiedfats" type="text" placeholder="Opening Balance" id="productionunfortifiedfats" /><br />
<label for="">Oils</label>
<input name="productionunfortifiedoils" type="text" placeholder="Opening Balance" id="productionunfortifiedoils" />
<label for="">Magarins</label>
<input name="productionunfortifiedmagarins" type="text" placeholder="Opening Balance" id="productionunfortifiedmagarins" />

</form>
</fieldset>
<br />
<h1>FORM 2</h1>
<fieldset>
<form>

<label for="company">Company</label>
<input name="company" type="text" placeholder="Company" /><br />

<label for="">month</label>
<select name="month">
  <option>january</option>
  <optgroup>January</optgroup> </select><br />
<label for="">Year</label>
<select name="month">
  <option>2010</option>
  <option>2011</option>
  <option>2012</option>
  <optgroup>January</optgroup> </select><br />

<hr />
<label for="">Opening Balance</label>
<input name="openingbalance" type="text" placeholder="Opening Balance" id="openingbalance" /><br />
<label for="">Qty delivered</label>
<input name="qtydelivered" type="text" placeholder="Opening Balance" id="qtydelivered" /><br />
<label for="">Supplier/manufacturers</label>
<input name="supplier" type="text" placeholder="Opening Balance" id="supplier" /><br />
<label for="">Qty rejected</label>
<input name="qtyrejected" type="text" placeholder="Opening Balance" id="qtyrejected" /><br />
 <hr />
<h2>Issued</h2>
<label for="">Issued</label>
<input name="issued" type="text" placeholder="Opening Balance" id="issued" /><br />
<label for="">Closing Bal</label>
<input name="closingbalance" type="text" placeholder="Opening Balance" id="closingbalance" /><br />
<label for="">Dosage Rate g/MT</label>
<input name="dosagerate" type="text" placeholder="Opening Balance" id="dosagerate" /><br />
 <hr />
 <h2>Theoretical production</h2>
<label for="">Fats</label>
<input name="theoreticalproductionfats" type="text" placeholder="Opening Balance" id="theoreticalproductionfats" /><br />
  <h2>Actual production</h2>
<label for="">Fats</label>
<input name="actualproductionfats" type="text" placeholder="Opening Balance" id="actualproductionfats" /><br />

 
<h2>Production unfortified</h2>
<label for="">Production unfortified</label>
<input name="productionunfortified" type="text" placeholder="Opening Balance" id="productionunfortified" /><br />
<label for="">Sales</label>
<input name="sales" type="text" placeholder="Opening Balance" id="sales" />
<label for="">Notes</label>
<input name="notes" type="text" placeholder="Opening Balance" id="notes" />

</form>
</fieldset>
<br />
<h1>FORM 3</h1>
<fieldset>
<form>
<table>
<tr>
<th>Date</th>
<th>Sample</th>
<th>company</th>
<th>Brand</th>
<th>Iodine Level<br /> Mg/L</th></tr>
<tr><td></td></tr>
<tr>
  <td><input name="date" type="text" placeholder="Opening Balance" id="Date" /></td>
  <td><input name="sample" type="text" placeholder="Opening Balance" id="Sample" /></td>
  <td><input name="company" type="text" placeholder="Opening Balance" id="Company" /></td>
  <td><input name="brand" type="text" placeholder="Opening Balance" id="Brand" /></td>
  <td><input name="iodine" type="text" placeholder="Opening Balance" id="Iodine" /></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td></td>
</tr>
</table>
</form>
</fieldset>
<br />
<h1>FORM 4</h1>
<fieldset>
<form>

<label for="brand">Brand Name</label>
<input name="brand" type="text" placeholder="Company" id="brand" /><br />

<label for="status">Status</label>
Y <input type="checkbox" name="status" value="Y" />
N <input type="checkbox" name="status" value="N" />
<br />
<label for="">Description</label>
<textarea></textarea><br />

 
<label for="">Location</label>
<select>
  <option>Coast</option>
  <option>Nairobi</option>
  <option>Eastern</option>
  <option>North Eastern</option>
  <option>Central</option>
  <option>Western</option>
  <option>Nyanza</option>
  <option>Rift Valley</option>
  </select>
<br />
<label for="">County</label>
<select>
<option>Nairobi</option>
<option>Narok</option>
<option>Kisumu</option>
<option>Siaya</option>
<option>Kisii</option>
<option>Nyamira</option>
<option>kiambuu</option>
<option selected="selected">murang'a</option>
<option>machacos</option>
</select>
</form>
</fieldset>
</body>
</html>